issuetracker/src/main/resources/application.properties
issuetrackermaven/target/issuetrackermaven/WEB-INF/classes/com/anshbkeai/issuetrackermaven/Test.class
issuetracker/src/main/resources/application.properties
